{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <title>Leonardo</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"  href="{% static 'portfolio_page/style.css' %}">
    </head>
    <body>
        <div class="topnav">
            <a href="/messages">Messages</a>
            <a href="#sosmed">Social</a>
            <a href="#skill">Skill</a>
            <a href="#hobby">Hobby</a>
            <a href="#education">Education</a>
            <a href="#AboutMe">ME</a>
        </div>
        <div id="AboutMe">
            <center>
                <div class="picture"></div>
                <div>
                    <h1>LEONARDO</h1>
                    <h3 class="birth">Born 7th August 2000</h3>
                    <h3 class="major">Information System-18</h3> 
                    <h3 class="major">Faculty of Computer Science</h3>  
                    <h3 class="major">University of Indonesia</h3>  
                </div>
            </center>
        </div>
        <div class="test">
            <div class="topbox" id="education">
                <center>
                    <h1>Education</h1>
                    <div class="block" id="sd">
                        <h3 class="left">Fajar Sion Elementary School</h3>
                        <h3 class="right">(2006-2012)</h3>
                    </div>
                    <div class="block" id="smp">
                        <h3 class="left">Kalam Kudus 1 Junior Highschool</h3>
                        <h3 class="right">(2012-2015)</h3>
                    </div>
                    <div class="block" id="sma">
                        <h3 class="left">Methodist Highschool</h3>
                        <h3 class="right">(2015-2018)</h3>
                    </div>
                    <div class="block" id="ui">
                        <h3 class="left">University of Indonesia</h3>
                        <h3 class="right">(2018-Now)</h3>
                    </div>
                </center>
            </div>
            <div class="topbox" id="hobby">
                <center>
                    <h1>Hobby</h1>
                    <h3>Table Tennis</h3>
                    <h3>Sports</h3>
                    <h3>Watch Movies</h3>  
                </center>
            </div>
            <div class="topbox" id="skill">
                <center>
                    <h1>Skills</h1>
                    <h3>Programing</h3>
                    <h3>Table Tennis</h3>
                </center>
            </div>  
        </div>       
        <div class="sosmedbox" id="sosmed">
            <h1>Follow Me</h1>
            <div class="ssbox" id="line">
                <div class="mid">
                    <a href="https://line.me/en-US/" target="_blank">
                        <h2><b>Line</b></h2>
                        <h3>ID : leonardo2000</h3>
                    </a>
                </div>
            </div>
            <div class="ssbox" id="instagram">
                <div class="mid">
                    <a href="https://www.instagram.com/leonardo7820/" target="_blank">
                        <h2><b>Instagram</b></h2>
                        <h3>@leonardo7820</h3>
                    </a>                    
                </div>
            </div>
            <div class="ssbox" id="gmail">
                <div class="mid">
                    <a href="https://www.gmail.com/" target="_blank">
                        <h2><b>Gmail</b></h2>
                        <h4>leonardoeinstein2000@gmail.com</h4>
                    </a>
                </div>
            </div>    
        </div>  
    </body>
</html>