body { 
    background-image: linear-gradient(rgb(105, 80, 80),rgb(105, 80, 80)),url("wpolygonal-abstract-red-dark-background-eo.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll; 
    background-size: cover;
    background-blend-mode: multiply;
    margin: 0px;
}

.picture {
    width: 210px; 
    height: 300px;
    background-image: url("ME.jpg"),radial-gradient(rgba(0, 0, 0, 0.11) ,black 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 100%;
}

#AboutMe {
padding-top: 80px;
}

.topnav {
    overflow: hidden;
    background-image: linear-gradient(rgb(27, 27, 27) 70%,rgb(0, 109, 5));
    position: fixed;
    right: 0;
    left: 0;
    top: 0;   
    
}
  
.topnav a {
    float: right;
    color: #aaaaaa;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'arial Black';
    transition: 0.5s;
}
  
.topnav a:hover {
    background-image: linear-gradient( rgb(27, 27, 27),rgb(201, 36, 36));
    color: white;
    transform: scaleX(1.1);
}

h1{
    color: rgb(212, 0, 0);
    font-size: 70px;
    font-family: 'Verdana';   
}

.birth {
    font-size: 40px;
    color: #aaaaaa;
}

.major {
    font-size: 30px;
    color: #aaaaaa;
    margin: 0px;
    margin-bottom: 15px;
}

.topbox h3 {
    font-size: 30px;
    color: #aaaaaa;
}

.test{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.topbox {
    border-radius: 50px;
    border: 20px solid rgb(0, 109, 5);
    width: 30%;
    margin: 30px;
}

#education {
    width: 75%;
}

#sd h3 {
    font-size: 25px;
    color: #aaaaaa;
}

#smp h3 {
    font-size: 25px;
    color: #aaaaaa;
}
#sma h3 {
    font-size: 25px;
    color: #aaaaaa;
}
#ui h3 {
    font-size: 25px;
    color: #aaaaaa;
}

.left  {
    background-size: 50%;
    text-align: left;
}

.right {
    background-size: 50%;
    text-align: right;
}

.block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10%;
}

.sosmedbox {
    background-image: radial-gradient(#444444ab 50%,rgb(201, 8, 8));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
    padding-top: 0px;
}

.sosmedbox h1 {
    width: 100%;
    text-align: center;
}

.ssbox {
    width: 25%;
    height: 200px;
    margin: 30px;
    text-align: center;
    transition: 0.4s;
}

.ssbox a {
    color: rgb(43, 43, 43);
    text-align: center;
    text-decoration: none;
}

.ssbox h2 {
    font-family: "Arial black";
    color: rgb(43, 43, 43);
    font-size: 35px;
}

.ssbox h3 {
    font-size: 25px;
}

.mid {
    margin-top:50px;
}

.ssbox:hover {
    transform: scale(1.23);
}

#line {
    background-image: url("line.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#instagram {
    background-image: url("instagram.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#gmail {
    background-image: url("gmail.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 900px) {
    .topbox{
        width: 60%;
    }
    .topbox h1 {
        font-size: 60px;
    }
    #smp .left {
        font-size: 20px;
    }  
}

@media screen and (max-width: 785px) {
    #sd h3{
        font-size: 20px;
    }
    #sd .left {
        font-size: 17px;
    }
    #smp h3{
        font-size: 20px;
    }
    #smp .left {
        font-size: 16px;
    }
    #sma h3{
        font-size: 20px;
    }
    #ui h3{
        font-size: 20px;
    }
}

@media screen and (max-width: 1050px) {
    .ssbox {
        width: 40%;
        height: 300px;
    }
    .mid {
        margin-top:70px;
    }
    .ssbox h3 {
        font-size: 35px;
    }
    .ssbox h2 {
        font-size: 40px;
    }
    .ssbox h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 835px) {
    .ssbox h4 {
        font-size: 15px;
    }
}

@media screen and (max-width: 705px) {
    .ssbox {
        width: 70%;
    }
    .ssbox h4 {
        font-size: 21px;
    }
}


