{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  href="{% static 'msg/style1.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    {% for message in msgs %}
    <div class="msgbox">
        <h3>{{ message.submiter }}</h6>
        <p>{{ message.message }}</p>
        <p>{{ message.created_at }}</p>
    </div>
    <form  method="POST" action="{% url 'msg:comment_create' message_id=message.id %}">
        {% csrf_token %}
        <div>
            {% for field in comment_form.visible_fields %}
                {{ field }}
            {% endfor %}
        <div>
        <button type="submit">Add!</button>
    </form>
            {% for comment in message.comments.all %}
                <div>
                {{ comment.comment }} by {{ comment.submiter }}
                </div>
            {% endfor %}
        {% endfor %}
    <form action="{% url 'msg:message_create' %}" method="POST">
        {% csrf_token %}
        <div class="forme">
            {% for field in form.visible_fields %}
                <div style="width:80%;">{{ field }}</div>
            {% endfor %}
        </div>
        <button type="submit">Add!</button>
    </form>
</body>
</html>